<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.5.1/css/bulma.min.css">
</head>
<section class="hero is-medium ">
  <div class="hero-body">
    <p class="title">
      Code A Break
    </p>
    <p class="subtitle">
      Take A Break From Coding
    </p>
  </div>
</section>


<body>
  <div class="wrapper">
    <header>
      <nav class="menu">
        {{#if loggedIn}}
        <a href="/dashboard">dashboard</a>
        <button id="logout" class="btn-no-style">logout</button>
        {{else}}
        <a href="/login">login</a>
        {{/if}}
      </nav>
     
      
    </header>
    <main>
      {{{ body }}}
    </main>
    <footer>
      Come back next time
    </footer>
  </div>
  
  {{#if loggedIn}}
  <script src="/javascript/logout.js"></script>
  {{/if}}
</body>

</html>