


<div class="columns">
  <div class="column is-one-quarter">
    
  </div>
   <div class="column">
    
  </div>
  <div class="column is-half">
   <article class="message">
  <div class="message-header">
    <p><ol class="post-list">
  {{#each posts as |post|}}</p>
    
  </div>
  <div class="message-body">
    <li class="box">
    {{> post-info post }}
  </li>
  {{options_id}}
  {{/each}}
</ol>
  </div>
</article>
  </div>
  <div class="column">
    
  </div>
</div>


