<form class="logout-form">
  <div>
    <label for="email-logout">email:</label>
    <input type="text" id="email-logout" />
  </div>
  <div>
    <label for="password-logout">password:</label>
    <input type="password" id="password-logout" />
  </div>
  <div>
    <button type="submit">login</button>
  </div>
</form>

<form class="signup-form">
  <div>
    <label for="username-signup">username:</label>
    <input type="text" id="username-signup" />
  </div>
  <div>
    <label for="email-signup">email:</label>
    <input type="text" id="email-signup" />
  </div>
  <div>
    <label for="password-signup">password:</label>
    <input type="password" id="password-signup" />
  </div>
  <div>
    <button type="submit">signup</button>
  </div>
</form>

<script src="/javascript/logout.js"></script>